* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exams-list-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.exams-list-content {
  margin: 0 auto;
  text-align: center;
}

.exams-list-content p {
  margin-top: 20px;
  text-align: center;
}

.exams-list-content ul {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  list-style: none;
}

.exams-list-content li {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  padding: 20px;
}
